/* CSS reset */

*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS variables */
:root{
    --navbar-height:20px
}
/* Navigation bar */
#navbar{
    top: 0;
    left: 0;
    
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}
/*Navigation bar: Logo and image */
#logo{
margin: -14px -11px;
}

#logo img{
margin: 20px 20px;
height: 54px;
}
/* Navigation bar: list styling */
#navbar ul {
    display: flex;
}
#navbar ul li {
    list-style: none;
    font-size: 1.1rem;
    /* color: white; */
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 9px;
    /* display: block; */
    border-radius: 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: whitesmoke;
}
/* Home section */

#home{
    display: flex;
    /* padding: 3px 200px ; */
    height: 350px;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
#home::before{
    content: "";
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: url('../Images/image2.jpg') no-repeat center center/cover;
    position: absolute;

    z-index: -1;
    opacity: 0.7;
    
}
#home h1{
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Playfair Display', serif;
    padding: 3px 12px;
    font-size: 2.6rem;
    color: white;
    text-align: center;
    
}
#home p{
    color: white;
    /* padding: 10px; */
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
}

/* Services section */
#services{
    margin: 4px;
    display: flex;
}
#services .box{
    border:2px solid #7a5252;
    padding: 14px;
    margin: 4px 31px;
    border-radius: 13px;
    background-color: rgb(220 220 220);
}
#services .box img{
    display: block;
    height: 132px;
    margin: auto;
    padding: 9px;
}

/* Utility classes */
.h1primarycenter{
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    padding: 17px ;
    text-align: center;

}
.hsecondary{
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 2rem;
    padding: 12px ;
    
}

.center{
    text-align: center;
}
.btn{
    border: 2px solid black;
    color: white;
    background-color: rgb(123, 110, 110);
    padding: 5px 26px;
    margin: 7px;
    font-size: 1.1rem;
    border-radius: 14px;
    cursor: pointer;
    width: 10%;
    text-align: center;
}
.btn:hover{
    background-color: rgb(133, 125, 125)
}
/* client section */
/* #clientsection{
    height: ;
}
#clients{
    display: flex;
    justify-content: center;
}
#clients img{
    height: ;
}
#clientitem{
    padding: ;
}
#clientsection::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url('/image6.jpg') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.7;

} */

/* About us */
#aboutsection{
    height: 260px;
    position: relative;
}
#about{
flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutsection::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
background: url('../Images/image1.jpg') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.3;}
    #aboutsection p{
        font-size: 17px;
        padding: 0px 63px 27px 66px;        text-align: center;
        padding-left: 75px;
        padding-right: 76px;
    }
    #aboutsection h1{
        margin: 25px;
        padding-top: 19px;
    }

    /* Contact */
    #contact{
    position: relative;
    padding-top: 11px;
    margin-top: 0px;
    height: 455px;
}

#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    background: url('../Images/image6.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}
#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.5rem;
    /* text-align: center; */
    border-radius: 6px;
    font-size: 1rem;
}
#contactbox form{
    width: 40%;
}
#contacbox label{
    /* font-size: 7rem; */
    /* text-align: center; */
}
 .tri{ 
    width: 20%;
    text-align: center;
    margin: auto;
    display: block;
    /* padding-bottom: 4px; */
    border: 2px solid black;
    color: white;
    background-color: rgb(123, 110, 110);
    padding: 5px 2px;
    font-size: 1.1rem;
    border-radius: 14px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    margin-top: 13px;
}

.tri:hover{
    background-color: rgb(133, 125, 125)
}
footer{
    background-color: black;
    color: white;
    padding: 8px 12px;
}